/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

@import url("components/avatar.css");
@import url("components/container.css");
@import url("components/btn.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/footer.css");



/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
  background-image: url(../images/body.jpg);
}

h1, h3, h4 {
  font-family: Poppins;
}

h2 {
  font-family: Poppins;
  text-align: center;
  font-size: 40px;
  color: black;
  font-style: oblique;
  font-weight: bold;
  font-stretch: condensed;
}

a {
  text-decoration: none;
}

/* Custom design below! */
