.footer {
  display: block;
  text-align: center;
  padding: 60px;
  background-color: #383737;
}

.links i {
  color: #fff;
  font-size: 30px;
  margin: 0 10px;
}

.links a {
  color: #fff;
  font-size: 30px;
  margin: 0 10px;
}

.links p {
  color: #fff;
  font-size: 30px;
  margin: 0 10px;
}
